* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContactPersonList {
    margin: 50px auto;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}
.ContactPersonList > .small-logo {
    width: 25rem;
    height: 4.4rem;
}

.cp-search-box{
    margin: auto;
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.cp-button1{
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #24658d5b, 5px 5px 8px #babebc;
    text-decoration: none;
    color: #fff;
    background-color: #0300a5;
}
.cp-button1 > p{
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.cp-button1:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.cp-search-box > .cp-box2{
    margin: 14px;
}

.cp-search-box .cp-search {
    width: 140px;
    height: 25px;
    background: #6e6e6e;
    border-radius: 25px;
    position: relative;
}

.cp-search-box .cp-text {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 3px 5px 1px #9e9d9d;
}

.cp-text:focus{
    outline: none;
}

.cp-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.cp-container { 
    font-family: 'Nanum Gothic', sans-serif;    
}

.cp-table {
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 183, 255, 0.35);
    width: 55%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.cp-table th{
    font-size: 1rem;
    border: 0.1rem solid #e7e7e7;
    border-radius: 5px;
    text-align: center;
}

.cp-table th, .cp-table td {
    padding: 5px;

}
.cp-table td{
    font-size: 0.8rem;
}

.cp-table > tbody > tr:hover {
    background-color: #D7F0FF;
}

tbody .cp-edit {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 8px #babebc;
    text-decoration: none;
    color: #6e6e6e;
}
tbody .cp-edit:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
tbody .cp-delete {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 8px #babebc;
    text-decoration: none;
    color: #6e6e6e;
}
tbody .cp-delete:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;    
}

@media (max-width: 480px) {
.ContactPersonList {
    width: auto;
    padding-top: 30px;
}
.ContactPersonList > .small-logo {
    width: auto;
    height: auto;    
}
.cp-search-box{
    width: auto;
    margin: 20px;
}

.cp-button1 > p{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.cp-button1:active {
box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.cp-search-box > .cp-box2{
    margin: 14px;
}

.cp-search-box .cp-search {
    width: 140px;
    height: 25px;
    background: #6e6e6e;
    border-radius: 25px;
    position: relative;
}

.cp-search-box .cp-text {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 3px 5px 1px #9e9d9d;
}

.cp-text:focus{
    outline: none;
}

.cp-table {
    width: auto;
    margin: auto;
}

}