tbody, td, tfoot, th, thead, tr { 
display: block;
font-family: 'Nanum Gothic', sans-serif;
}
.cp-container {
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    max-width: 1800px;
    height: auto;
    margin: auto;
}
.cp-table {
    height: 50px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    font-size: 20px;
    background: #bff2ff80;
    display: flex;
    margin: 10px auto;
    align-items: center;
}
.cp-table p {
    margin: 0;
    width: 450px;
    text-align: center;
}

.cp-content ul {

    padding: 0;
    border-top: 1px solid #babebc;
    border-bottom: 1px solid #babebc;
    margin: 5px 0;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: var(--neutral-colors-600, #6D758F);
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.cp-content li {
    width: 450px;
    text-align: center;
    margin: 0;
}

.cp-content ul:hover {
    background:#D7F0FF;
}    

.cp-content  .cp-edit {
    margin: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: 3px 3px 5px #babebc;
    text-decoration: none;
    color: #6e6e6e;
}
.cp-content  .cp-edit:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.cp-content .cp-delete {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: 3px 3px 5px #babebc;
    text-decoration: none;
    color: #6e6e6e;
}
.cp-content .cp-delete:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;    
}
    
.cp-search-box{
    max-width: 1800px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
} 

.cp-button1{
    margin-top: 50px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #24658d5b, 5px 5px 8px #babebc;
    text-decoration: none;
    color: #fff;
    background-color: #0300a5;
}
.cp-button1 > p{
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.cp-button1:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.cp-search-box > .cp-box2{
    margin: 0;
}

.cp-search-box .cp-search {
    width: 150px;
    height: 30.5px;
    background: #6e6e6e;
    border-radius: 25px;
    position: relative;
}

.cp-search-box .cp-text {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 13px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 3px 5px 1px #9e9d9d;
}

.cp-text:focus{
    outline: none;
}

.admin-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    border-radius: 50%;
    border: none;
}

.cp-button > i {
    margin-top: 6px;
}



/* 페이지네이션 버튼 */
.arrow-box {
    margin: 0px 0px 0px 24%;
}
    /* 드롭다운 박스(게시글 개수 필터링) */
    .item-filter {
        font-size: 12px;
        font-weight: bold;
        padding: 5px 5px;
        box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 8px #babebc;
        display: inline-flex;
        flex-direction: column; 
        position:relative;
        cursor: pointer;
        border-radius: 15px;
        border: none;
        outline: none;
        text-decoration: none;
        color: #6e6e6e;
    }
    
    .option {
        padding:0 30px;
        display:flex;
        align-items:center;
        position:absolute;
        pointer-events:none;
        order:2;
        z-index:1;
        box-sizing:border-box;
        overflow:hidden;
        white-space:nowrap;
        color: #000;
        cursor: pointer;
    }
    
    
    .option:hover {
        background:#D7F0FF;
    }
    
    .item-filter:focus .option {
        position:relative;
        pointer-events:all;
    }
    
    .selectopt {
        opacity:0;
        position:absolute;
        left:-99999px;
    }
    
    .selectopt:checked + label {
        order: 1;
        z-index:2;
        background-color: #ffffff;
        position:relative;
    }
    
    .selectopt:checked + label:after {
        content:'';
        width: 0; 
        height: 0; 
    
        position:absolute;
        right:10px;
        top:calc(50% - 2.5px);
        pointer-events:none;
        z-index:3;
    }
    
    .selectopt:checked + label:before {
        position:absolute;
        right:0;
        height: 30px;
        width: 30px;
        content: '';
    }
    
    .item-filter-text {
        margin: 0;
        margin-right: 5px;
    }
    
    .text-center { 
        font-weight: 100;
        font-size: 13px;
    }

@media (max-width: 1090px) {
    .cp-table p {
        margin: 0;
        text-align: center;
    }
    .cp-table {
        height: 50px;
        border-radius: 10px 10px 0 0;
        font-weight: 600;
        font-size: 14px;
        background: #bff2ff80;
        display: flex;
        margin: auto;
        align-items: center;
    }
    li.admin_userId {
        display: none;
    }
    li.admin_email {
        display: none;
    }
    .cp-table :nth-child(2),
    .cp-table :nth-child(6){
        display: none;
    }

    .cp-content li {
        text-align: center;
        margin: 0;
    }
    .cp-content  .cp-edit {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .cp-content  .cp-edit:active {
        box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
    }
    .cp-content .cp-delete {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .item-filter-text , .item-filter  {
    display: none;
    }
    .cp-table {
        height: 50px;
        border-radius: 10px 10px 0 0;
        font-weight: 600;
        font-size: 14px;
        background: #bff2ff80;
        display: flex;
        margin: auto;
        align-items: center;
    }
    li.admin_userId {
        display: none;
    }
    li.admin_email {
        display: none;
    }
    .cp-table :nth-child(2),
    .cp-table :nth-child(6){
        display: none;
    }

    .cp-content li {
        text-align: center;
        margin: 0;
    }
    .cp-content  .cp-edit {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .cp-content  .cp-edit:active {
        box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
    }
    .cp-content .cp-delete {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .item-filter-text , .item-filter  {
    display: none;
    }
}
@media (max-width: 530px) {
    .cp-table p {
        margin: 0;
        text-align: center;
    }
    .cp-table {
        height: 50px;
        border-radius: 10px 10px 0 0;
        font-weight: 600;
        font-size: 14px;
        background: #bff2ff80;
        display: flex;
        margin: auto;
        align-items: center;
    }
    li.admin_userId {
        display: none;
    }
    li.admin_email {
        display: none;
    }
    .cp-table :nth-child(2),
    .cp-table :nth-child(6){
        display: none;
    }

    .cp-content li {
        text-align: center;
        margin: 0;
    }
    .cp-content  .cp-edit {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .cp-content  .cp-edit:active {
        box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
    }
    .cp-content .cp-delete {
        margin: 4px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
        box-shadow: 1px 1px 3px #babebc;
        text-decoration: none;
        color: #6e6e6e;
    }
    .item-filter-text , .item-filter  {
    display: none;
    }
}
