a {text-decoration: none;}
Link {
    text-decoration: none;
}
section > p{
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    font-family: Libre Bodoni;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.car-list {
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    max-width: 960px;
    height: auto;
    margin: auto;
}

.car-list > .boxheader {
    display: grid;
}

.car-list > .list {
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    grid-auto-rows: auto; 
    gap: 20px;
    justify-items: center;
    height: 100%; 
}

.carsearch-box {
    grid-column: 2 / 4;
	grid-row: 1 / 2; 
}

.checkbox,
.carsearch-box {
    align-self: center;
    margin-top: 15px;
}

.checkbox {
    justify-self: start;
    margin-left: 30px;
}

.checkbox > .check1 {
    margin-right: 20px;
}

.checkbox > .check2 {
    margin-right: 20px;
}
/* 체크박스 스타일링 */
[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    color: dodgerblue;
    vertical-align: middle;
    appearance: checkbox;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
    margin-right: 7px;
}

  /* check styling */

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

  /* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

  /* Disabled */

[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}

span >label {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.carsearch-box {
    justify-self: end;
    margin-right: 30px;
}

.carbox {
    min-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;  
}
.carlist > .carbox img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}
.car{
    margin: 20px;
    list-style-type: none;
}
.bus-img{
    width: 100%;
}
.businfo {
    color: var(--neutral-colors-600, #6D758F);
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px; /* 140% */
}

.carsearch-box {
    width: 200px;
    height: 27px;
    background: #6e6e6e;
    border-radius: 25px;
    position: relative;
}

.carsearch-box .carsearch-bar {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 3px 5px 1px #9e9d9d;
}

.carsearch-bar:focus{
    outline: none;
}

.carsearch-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    border-radius: 50%;
    border: none;
}

.car-list .paging {
    grid-column: 1 / 4;
	grid-row: 5 / 6; 
    align-self: center;
    justify-self: end;
    margin-right: 30px;
}
.pagination{
    --bs-pagination-active-border-color : #fff;
    --bs-pagination-active-color : #black;
    --bs-pagination-active-bg : #D7F0FF;
    --bs-pagination-active-boxshadow :-5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    margin: 0;
    justify-content: center;
    --bs-pagination-color: #black;
}


@media (max-width: 480px) {
    content > p{
        margin-bottom: 30px;
        color: #000;
        text-align: center;
        font-family: Libre Bodoni;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
    }
    .car-list {
        border-radius: 10px;
        background-color: #f1f6f8;
        box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
        margin: auto 30px;

    }
    .car-list > .list img {
        border-radius: 10px;
        height: 50px;
        width: 50px;
        box-shadow: #c4c4c4 5px 0px 5px 0px;
    }
    .car{
        margin: 20px;
    }
    .businfo {
        color: var(--neutral-colors-600, #6D758F);
        text-decoration: none;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px; /* 140% */
    }

}