a {text-decoration: none;}

Link {
    text-decoration: none;
}
.car-list {
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    max-width: 1200px;
    height: auto;
    margin: auto;
}
.dashBoard {
    background: #d1f4ff96;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    max-width: 1200px;
    height: 700px;
    margin: 20px auto
}

.chargeChart {
  background: #d1f4ff96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    max-width: 1200px;
    height: 700px;
    margin: 20px auto;
}

.dashBoard > .box-dashBoard {
    background-color: #fff;
    margin: 45px 10px;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
}

.dashBoard > .box-dashBoard .carNoti {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 250px;
    height: 500px;
    margin: 0 20px;
}
.dashBoard > .box-dashBoard .carNoti > p{
    margin: 10px;
}
.chart-char {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    height: 300px !important;
}
.doughnut-chart {
    background-color: #fff;
    margin: 45px 10px;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    width: 220px;
    height: 220px;
}
.nav-3 {
    display: flex;
}
.ochart {
    margin: 10px auto;

    width: 200px !important;
    height: 200px !important;
}
.smallbox {
    width: 220px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
}
.smallbox:nth-child(4){
    margin: 0;
    height: 200px;
}

.doughnut-chart > .smallbox > .totalbox {
    margin: 20px;
}
.doughnut-chart > .smallbox > .totalbox > p{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
}
.doughnut-chart > .smallbox > .totalbox > .total-content {

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center
}
.small-listbox {
    margin: 0;
    padding: 0;
    list-style: none;
}
.small-listbox .small-carlist {
    font-weight: 600;
    border-radius: 15px;
    margin: 5px;
    display: flex;
}

.small-listbox li:nth-child(1) {
    background: #b1e1fff1;
    justify-content: center;
}
.small-listbox li:nth-child(2) {
    background: #bee6ff;
    justify-content: center;
}
.small-listbox li:nth-child(3) {
    background: #cae9fd;
    justify-content: center;
}
.small-listbox li:nth-child(4) {
    background: #d7f0ff;
    justify-content: center;
}
.small-listbox li:nth-child(5) {
    background: #e4f5ff;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Inter:400");

.middle {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.middle h1 {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.middle input[type="radio"] {
  display: none;
}

.middle input[type="radio"]:checked + .box {
  background-color: #0300a5;
}

.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}

.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}

.middle .box {
  border-radius: 15px;
  width: 100px;
  height: auto;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: 900;
}

.middle .box:active {
  transform: translateY(10px);
}

.middle .box span {
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 16px;
  user-select: none;
  color: black;
}

.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

.car-list > .boxheader {
    display: grid;
}

.carlist { 
    list-style-type: none;
}

.carbox {
    margin-top: 20px;
}

.carbox > .carbox-head > p {
    margin: 0 ;
    font-weight: 600;
    width: 150px;
    text-align: center;
}
.carbox > .carbox-head {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #bff2ff80;
    height: auto;
    margin: auto;

}
.carsearch-box {
    grid-column: 2 / 4;
    grid-row: 1 / 2; 
}

.checkbox,
.carsearch-box {
    align-self: center;
    margin-top: 15px;
}

.checkbox {
    justify-self: start;
    margin-left: 30px;
}

.checkbox > .check1 {
    margin-right: 20px;
}

.checkbox > .check2 {
    margin-right: 20px;
}
/* 체크박스 스타일링 */
[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    color: dodgerblue;
    vertical-align: middle;
    appearance: checkbox;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
    margin-right: 7px;
}

  /* check styling */

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

  /* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

  /* Disabled */

[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}

span >label {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.carsearch-box {
    justify-self: end;
    margin-right: 30px;
}

.card-1  .carlist-info {
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.card-1 .businfo {
    width: 140px;
    text-align: center;
    margin: 0;
}

.businfo {
    color: var(--neutral-colors-600, #6D758F);
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px; /* 140% */
}

.carsearch-box {
    width: 200px;
    height: 27px;
    background: #6e6e6e;
    border-radius: 25px;
    position: relative;
}

.carsearch-box .carsearch-bar {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 0.5rem;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 3px 5px 1px #9e9d9d;
}

.carsearch-bar:focus{
    outline: none;
}

.carsearch-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    border-radius: 50%;
    border: none;
}

.car-list .paging {
    grid-column: 1 / 4;
    grid-row: 5 / 6; 
    align-self: center;
    justify-self: end;
    margin-right: 30px;
}
.page-item .page-link {
    font-size: 11px;
    border-color: #e0e0e0;
    background-color: #fff;
    margin-bottom: 20px;
}
.pagination{
    --bs-pagination-active-border-color : #fff;
    --bs-pagination-active-color : #black;
    --bs-pagination-active-bg : #D7F0FF;
    --bs-pagination-active-boxshadow :-5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
    margin: auto;
    justify-content: end;
    --bs-pagination-color: #black;
}


@media (max-width: 480px) {
    content > p{
        margin-bottom: 30px;
        color: #000;
        text-align: center;
        font-family: Libre Bodoni;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
    }
    .car-list {
        border-radius: 10px;
        background-color: #f1f6f8;
        box-shadow: -5px -5px 13px #D7F0FF, 5px 5px 10px #babebc;
        margin: auto 30px;

    }
    .car-list > .list img {
        border-radius: 10px;
        height: 50px;
        width: 50px;
        box-shadow: #c4c4c4 5px 0px 5px 0px;
    }
    .car{
        margin: 20px;
    }
    .businfo {
        color: var(--neutral-colors-600, #6D758F);
        text-decoration: none;
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px; /* 140% */
    }

}