.carrst-container { 
    margin: auto;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 10px #babebc;
    width: 700px;
    height: 500px;
    overflow: hidden;
}
.carrst-title{
    margin: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.carreg-form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.carreg-btn{
    border-radius: 1.5rem;
    background: #0300A5;
    box-shadow: 4px 4px 12px 0px rgba(187, 195, 206, 0.60), -4px -4px 12px 0px rgba(253, 255, 255, 0.80);
    border: none;
    outline: none;
    font-size: 0.7375rem; 
    font-weight: bolder;
    color: #fff;
    padding: 0.5375rem 0.7125rem; 
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 100px;
}
.car_reg_inner{
    display: grid;
    grid-template-areas: 
    "label1 label3"
    "box2 box4"
    "label5 label7"
    "box6 box8"
    "label9 label11"
    "box10 box12"
    "label13 label15"
    "box14 box16";
    row-gap: 5px;
    column-gap: 20px;
}
.form-row.submit-btn {
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 820px) {
    .carrst-container {
        width: 90%;
    }
}

@media (max-width: 530px) {
    .carrst-container {
        width: 80%;
        height: 600px;
    }
    .car_reg_inner{
        display: grid;
        grid-template-areas: 
        "label1"
        "label3"
        "box2" 
        "box4"
        "label5"
        "label7"
        "box6" 
        "box8"
        "label9" 
        "label11"
        "box10"
        "box12"
        "label13" 
        "label15"
        "box14" 
        "box16";
        row-gap: 5px;
        column-gap: 20px;
    }
}