
.carrst-title{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.carrst-container{
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    width: auto;
    height: 450px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;    
}
.carrstimg-container {
    margin: auto;
    margin-right: 30px;
}
.carrstimg-container > .custom-file-upload {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}


/* form */
.form-container{
    margin: auto;
    margin-left: 30px;
}
.carrstform-container{
    margin: auto;
    border-radius: 10px;
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 10px #babebc;
    width: 600px;
    overflow: hidden;
}
  
.carrstform-container form{
    padding: 30px 0 0 0;
}
.carrstform-container form .form-row{
    display: flex;
    margin: 32px 0;
    justify-content: center;
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
  form .form-row .textarea{
    height: 70px;
}
  
.input-data input,
.textarea textarea{
    font-size: 13px;
    font-family:'Nanum Gothic', sans-serif;
    padding: 10px;
    margin: 8px 0;
    width: 85%;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
    border: 1px solid var(--neutral-colors-300, #F1F3F7);
    background: var(--neutral-colors-100, #f0f0f0);

}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-weight: bold;
    font-size: 0.8rem;
    color: #6f789796;
}
  
.input-data label{
    padding-left: 12px;
    position: absolute;
    pointer-events: none;
    bottom: 1px;
    font-size: 13px;
    font-weight: 900;
    color: #6f789796;
    transition: all 0.3s ease;
}
  
.submit-btn .input-data{

    height: 45px!important;
    width: 25%!important;
}

.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  box-shadow: -5px -5px 10px #24658d5b, 5px 5px 8px #babebc;
  text-decoration: none;
  color: #fff;
  background-color: #0300a5;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

@media (max-width: 480px) {
    .carrst-title{
        font-size: 35px;
        margin: 3rem 0 3rem 0;
    }
    .carrst-container{

        display: flex;
        flex-direction: column;
    }
    .form-container{ 
        margin: auto;
    }
    .carrstimg-container{
        margin: auto;
    }    
    .carrstform-container form .form-row{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .submit-btn .input-data input{
        margin-top: 1rem;
        height: 2rem;
    }
}