/* Header 공통 start*/

.logout-btn {
    margin: auto;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
}

.logout-btn .link-admin, .link-logout {
    margin: 0;
}

button.btn-admin, button.btn-logout{
    font-weight: 600;
    font-size: 13px;
    background-color: #fff;
    border: 0px;
    font-family:'Nanum Gothic', sans-serif;
    margin-top: 10px;
    margin-right: 25px;
}

.logo-h{
    margin: auto;
    padding-top: 50px;
    width: auto;
    display: flex;
}
.h-logo{
    margin: auto;    
    width: 300px;
    height: 53px;

}
/*navigation menu*/

header > .topnav {
    margin: 5px 0 20px 0;
    width: auto;
    text-align: center;
}
.topnav a{
    margin: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: #0300a5;
    text-decoration: none;
}
  