* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > .sign-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.signinpage {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    overflow: hidden;
}

.signinLogoimg {
    width: 600px;
    height: 100px;
}

img.signinLogoimg {
    margin-top: 9rem;
}

.signinfont {
    display: flex;
    justify-content: flex-end;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9e9d9d;
    font-size: large;
    font-weight: 800;
    overflow: hidden;
}

.wrapper {
    margin: 2rem auto;
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-signin {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 10px #babebc;
    position: absolute;
    width: 350px;
    min-height: 480px;
    overflow: hidden;
}

.signinDetail {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-signin > .sign-in-container > .signinDetail > h1 {
    margin-bottom: 10px;
}

.signinDetail > input {
    background: #f0f0f0;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

.signinDetail > button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.signinDetail > .form_btn {
    box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 8px #babebc;
}

.signinDetail > .form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.sign-in-container {
    position: absolute;
    height: 100%;
    transition: all 0.5s;
    border-radius: 1rem;
    width: 350px;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
}

.container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}

.signinDetail > p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 1.25rem 0 1.875rem;
}


@media (max-width: 480px) {
    .signinpage {
        display: none; 
    }

    .wrapper{
        height: 40rem;
        display: flex;
        justify-content: space-around;
    }

    .wrapper {
        height: 40rem;
        display: flex;
        background: #ffffff;
        overflow: hidden;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-signin {

        border-radius: 10px;
        box-shadow: -5px -5px 10px #D7F0FF, 5px 5px 10px #babebc;
        position: absolute;
        width: 260px;
        min-height: 350px;
        overflow: hidden;
    }


    .sign-in-container {
        height: 350px;
        transition: all 0.5s;
        border-radius: 1rem;
        width: 260px;
    }
    .signinDetail{
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        height: 350px;
        justify-content: center;
        align-items: center;
    }


    .signinDetail > p {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin: 1.25rem 0 1.875rem;
    }
    .signinDetail > button {
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 0.2rem;
        font-weight: bold;
        padding: 10px 45px;
        margin: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 80ms ease-in;
    }
    .signinDetail > input {
        background: #f0f0f0;
        padding: 16px;
        margin: 8px 0;
        width: 12rem;
        border: 0;
        outline: none;
        border-radius: 20px;
        box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
    }
}