.map{
    z-index: 0;
}
.mainnav{
    z-index: 2;
    background-color: rgba(225, 235, 245, 0.397);
    position: absolute;
    width: 420px;
    height: 800px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 7px 1px 10px #D7F0FF, 5px 5px 10px #babebc;
    overflow: hidden;
}

main > .mainnav > .nav-car-list {
    background-color: rgba(255, 255, 255, 0.637);
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 7px 2px 10px #a0a0a0d2, inset -5px -5px 12px #f8f8f8;
}

.mainnav > .nav-car-list .li-detail {
    display: flex;
    align-items: center;
}
.car-btn {
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 5px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #d3d3d3, 5px 5px 8px #babebc;
}
.battery-bar-info {
    text-align: center;
}

.battery-bar-info .car-info {
    margin: 0 10px;
    text-align: start;
    display:flex

}

.battery-bar-info .car-info :nth-child(1){
    margin-right: 25px;

}

.battery-bar-info p {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;

}

/*progress-bar*/

.battery-bar {
    --bs-progress-bar-color: #ffffffd8;
    margin-left: 100px;
    display: flex;
    align-items: center
}
.nav-c-info .progress, .progress-stacked {
    margin: 10px;
    width: 250px;
    border-radius: 1rem;
    box-shadow:5px 5px 10px #babebc;;
    --bs-progress-bar-color: #ffffffd8;
}

.battery-bar .progress-bar {
    margin: unset;
}

  /* Define styles for the battery levels */
.battery-bar .battery-green {
    --bs-progress-bar-bg: green;
    color: green;
}
  
.battery-bar  .battery-yellow {
    --bs-progress-bar-bg: #cece1c;
    color: #cece1c;

}
  
.battery-bar .battery-red {
    --bs-progress-bar-bg: rgb(184, 52, 52);
    color: red;
}